<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type' />
  </head>
  <body>
    <h1>Hi, <%= @user.name %>. You've got a new booking request for your listing on Hom</h1>
    <p>
      The booking is for (insert time here).
    </p>
  </body>
</html>
