/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Table of contents
 ––––––––––––––––––––––––––––––––––––––––––––––––––
 - Grid
 - Base Styles
 - Typography
 - Links
 - Buttons
 - Forms
 - Lists
 - Content
 - Tables
 - Spacing
 - Media Queries
 */


 /* Base Styles
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
a:visited {
  color: #00B6B1;
}

input[type="text"] {
  color: #fff;
  background-color: #01CEC8;
  border: none;
  height: 30px;
  width: 300px;
  /*margin: 7px 0 0 0;*/
}

input[type="submit"] {
  height: 30px;
}


li {
  list-style-type: none;
}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}

:-ms-input-placeholder {
   color: #fff;
}

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
  margin: 0 0 60px 0;
  height: 45px;
  background-color: #00B6B1;
}


nav a, nav a:hover, nav a:visited {
  color: #ffffff;
  text-decoration: none;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline;
  float: left;
  margin: 14px 25px 0 0;
  color: #FCFDEF;
}

nav ul li:last-child {
  margin: 14px 0 0 0;
}

nav ul li#search {
  margin: 6px 0 0 0;
  width: 450px;
}

.sub-nav {
  height: 45px;
  background-color: #9FE0DB;
}

.sub-nav ul {
  float: left;
}

.sub-nav ul li {
  color: #3C3C3C;
  display: inline;
  float: left;
}

/* Content
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.logo {
  float: left;
  padding: 8px 0 0 0;
}

.listing {
  height: 300px;
  position: relative;
  background-color: #FCFDEF;
  border: 2px solid #FFE77E;
  overflow: hidden;
}

.listing img {
  z-index: 1;
}

.listing .information {
  background-color: #FCFDEF;
  opacity: 0.9;
  position: absolute;
  z-index: 99999;
  bottom: 0;
  padding: 10px;
}

.listing p.title {
  font-size: 1.9em;
  line-height: 1em;
  text-transform: uppercase;
  color: #00B6B1;
}

.listing p.user, .listing p.price {
  font-size: 1.2em;
  font-style: italic;
  color: #9A9797;
}

#fave {

}

.calendar {
  background-color: #FFE77E;
  height: 100px;
  width: 100%;
}

.information {

}

.information strong {
  color: #00B6B1;
}

.location {

}

#map {
  height: 500px;
  width: 100%;
}

.neighbourhood {
  height: 300px;
  background-color: #00B6B1;
}

button.back {
  width: 100%;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

button a, button a:visited {
  color: #fff;
}

button

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media and screen (max-width: 600px;) {

  .navbar-nav {
       margin: 0;
       }

   .navbar-collapse {
      max-height: 0;
   }
   
  .menu-open .overlay-shadow {
    background: rgba(17, 10, 10, 0.8) none repeat scroll 0 0;
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    width: 100%;
    z-index: 50;
  }
}
