/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Table of contents
 ––––––––––––––––––––––––––––––––––––––––––––––––––
 - Grid
 - Base Styles
 - Typography
 - Links
 - Buttons
 - Forms
 - Lists
 - Content
 - Tables
 - Spacing
 - Media Queries
 */


 /* Base Styles
 –––––––––––––––––––––––––––––––––––––––––––––––––– */

html, body {
  height:100%;
}

.container {
  height: 91%;
}

a {
  color: #77BED2;
}

a:visited {
  color: #747d7d;
}

.heading {
  font-weight: 400;
  margin-left: 50px;
}

.required {
    color: grey;
    padding-left: 2px;
    font-size: small;
    font-style: italic;
}

#search input[type="text"] {
  color: #fff;

  background-color: #01CEC8;
  border: none;
  height: 30px;
  width: 300px;
  margin: 7px 0 0 0;*/
  height: 38px;
  width: 300px;
  padding: 6px 10px;  
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

.field input[type="text"] {
  height: 28px;
  width: 220px;
}

.field input[type="number"] {
  height: 28px;
  width: 220px;
}


input[type="submit"] {
  height: 30px;
  line-height: normal;
}

li {
  list-style-type: none;
}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}

:-ms-input-placeholder {
   color: #fff;
}

.center {
  text-align: center;
}

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
  margin: 0 0 10px 0;
  height: 45px;
  background-color: #00B6B1;
}


nav a, nav a:hover, nav a:visited {
  color: #ffffff;
  text-decoration: none;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline;
  float: left;
  margin: 14px 25px 0 0;
  color: #FCFDEF;
}

nav ul li:last-child {
  margin: 14px 0 0 0;
}

nav ul li#search {
  margin: 6px 30px 0 0;
  max-width: 450px;
}

.navbar-collapse {
  display: none;
}

.mobile-nav {
  display: none;
}

.mobile-nav-button {
  display: none;
}

@media (max-width: 600px) {
  nav {
    margin: 0 0 0 0;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav.show {
    display: block;
  }

  .mobile-nav ul {
    height: 100%;
  }

  .mobile-nav ul li {
    display: block;
    float: left;
    text-align: center;
    background-color: #00B6B1;
    color: #fff;
    width: 100%;
    height: 45px;
    margin: 0 0 0 0;
  }

  .mobile-nav ul li a, .mobile-nav ul li a:hover, .mobile-nav ul li a:visited {
    color: #fff;
  }

  .mobile-nav-button {
    display: block;
  }

  .navbar-nav {
    margin: 0;
  }

  .navbar-collapse {
      max-height: 0;
   }

  .nav-open {
    background: rgba(17, 10, 10, 0.8) none repeat scroll 0 0;
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    width: 100%;
    z-index: 50;
  }

  .navbar-toggle {
      border: none;
      background: transparent !important;
      z-index: 500;
      position: relative;
      color: #fff;
      margin: 5px -25px 0 0;
      float: right;
  }

  .atitel-menu-links a {
       color: #000 !important;
   }
   .atitel-menu-links a:hover {
       color: #fff !important;
   }
   .navbar-toggle .icon-bar{
       background: #000;
   }

   .navbar-toggle.collapsed .icon-bar{
       background: #000;
   }
   .collapse.in{
       display: block;
       transition: all 0.5s ease 0s;
       -webkit-transition: all 0.5s ease 0s;
       -moz-transition: all 0.5s ease 0s;
       -o-transition: all 0.5s ease 0s;
       transition: all 0.5s ease 0s;
   }

  .in .atitel-menu-links{
       opacity: 1;
   }
   .atitel-menu-links{
       background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
       border: medium none;
       box-shadow: 0 0 0;
       display: block;
       float: none;
       opacity: 0;
       padding-right: 7px;
       position: absolute;
       text-align: center;
       transition: all 300ms ease-out 0s;
       -webkit-transition: all 300ms ease-out 0s;
       -moz-transition: all 300ms ease-out 0s;
       -o-transition: all 300ms ease-out 0s;
       width: 100%;
       z-index: 800;
       right: 0;
       left: 0;
   }
   .collapsing {
       -webkit-transition: none;
       transition: none;
   }
   .atitel-menu-links li{
       float: none;
   }

   .navbar-links{
       height: 0 !important;
   }
   .collapse.in .atitel-menu-links li a{
       font-size: 20px;
       color: #fff;
   }

   .atitel-menu-links li {
       opacity: 0;
       transform: translateY(-10px) scale(1.7);
       transition: transform 0ms cubic-bezier(0.19, 1, 0.22, 1) 800ms, opacity 800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
       -webkit-transition: transform 0ms cubic-bezier(0.19, 1, 0.22, 1) 800ms, opacity 800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
       -moz-transition: transform 0ms cubic-bezier(0.19, 1, 0.22, 1) 800ms, opacity 800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
       -o-transition: transform 0ms cubic-bezier(0.19, 1, 0.22, 1) 800ms, opacity 800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
   }

   .in .atitel-menu-links li {
       opacity: 1;
       transform: translateY(0px) scale(1);
       transition: transform 800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms, opacity 800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
       -moz-transition: transform 800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms, opacity 800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
       -o-transition: transform 800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms, opacity 800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
       -webkit-transition: transform 800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms, opacity 800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
   }

   .in .atitel-menu-links li:nth-child(1){
       transition-delay: 70ms;

   }
   .in .atitel-menu-links li:nth-child(2) {
       transition-delay: 140ms;
   }
  .in .atitel-menu-links li:nth-child(3) {
       transition-delay: 210ms;
   }

   .in .atitel-menu-links li:nth-child(4){
       transition-delay: 280ms;
   }
   .in .atitel-menu-links li:nth-child(5){
       transition-delay: 350ms;
   }
}

body.nav-open .navbar-collapse {
  display: block;
}

#navbar a {
  color: black;
}

.sub-nav {
  height: 45px;
  background-color: #9FE0DB;
  /*position: fixed;*/
}

.sub-nav ul {
  /*float: left;*/
  margin-bottom: 0px;
}

.sub-nav ul li {
  color: #3C3C3C;
  display: inline;
  float: left;
  padding-right: 10px;
}

.sub-nav input[type="text"] {
  width: 70px;
}


.sub-nav label {
  padding-top: 6px;

}


li {
  list-style-type: none;
}

#new-listing {
  float:left;
}

.collapsing {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.navbar-toggle:hover {
    background: transparent !important;
}
.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
}
.navbar-toggle .top-bar {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
    opacity: 0;
}
.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);

    -ms-transform-origin: 10% 90%;
    -webkit-transform-origin: 10% 90%;
    -moz-transform-origin: 10% 90%;
    transform-origin: 10% 90%;

}
.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
}

/* Content
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.logo {
  float: left;
  padding: 8px 0 0 0;
}

.listing {
  height: 300px;
  position: relative;
  background-color: #FCFDEF;
  border: 2px solid #FFE77E;
  overflow: hidden;
}

.listing img {
  z-index: 1;
}

.listing .information {
  background-color: #FCFDEF;
  opacity: 0.9;
  position: absolute;
  z-index: 99999;
  bottom: 0;
  padding: 10px;
}

.listing h3.title {
  /*font-size: 1.9em;*/
  color: #00B6B1;
  margin: 0 0 0 0;
}

.listing h5.address {
  font-size: 1.2em;
  margin: 0 0 0 0;
}

.listing h5.user, .listing h2.price {
  font-size: 1em;
  font-style: italic;
  color: #9A9797;
  margin: 0 0 0 0;
}

a.slidesjs-previous .slidesjs-navigation {
  position: absolute;
  z-index: 9999999;
}

.bookings_form {
  float:left;
}

#profile #profile_pic img{
  border-radius: 0%;
  margin-bottom: 30px;
}

#profile {
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;
  text-align: center;
}

#profile-basic {
  float:left;
  margin-right: 20px;
}

#rental-table {
}

#blurb {
}

#fave {

}

.favourited {
  background-color: #EF5350;
}

.calendar {
  background-color: #FFE77E;
  height: 352px;
  width: 100%;
}

.information {

}

.information strong {
  color: #00B6B1;
}

.location {

}

.row.listings-index {
  margin: 0px;
  height: 100%;
  position: relative;
}

.col.map {
  height: 100%;
  position: relative;
  float: right;
  overflow: hidden;
}

#map {
  height: 500px;
}

#map.fixed {
  width: 100%;
  height: 100%;
  /*position: absolute;*/
}

.col.listings {
  overflow: scroll;
  /*position: absolute;*/
  height: 100%;
}


.neighbourhood {
  margin: 20px 0 0 0;
  background-color: #00B6B1;
}

button.back {
  width: 100%;
  font-weight: 500;
  font-size: 1em;
  text-transform: none;
  border: none;
}

button a {
  text-decoration: none;
}

.row.listings-index {
  padding: 0;
  position: relative;
  height: 100%;
  margin-bottom: 0px;
}

.feature {
  text-align: center;
  margin: 20px 0 0 0;
}

.feature .description-text {
  text-align: justify;
  margin: 10px 40px;
}

.feature .desc {
  width: 90%;
}

.feature .name {
  width: 71%;
}

.feature .name p {
  margin: 10px 0 0 0;
}

.feature .desc, .feature .name {
  padding: 7px;
  margin: 0 auto;
  background-color: #00B6B1;
  color: #fff;
  border-radius: 3px;
}

.foursquare {
  min-height: 300px;
  padding: 15px;
}

.foursquare .name  {
  background-color: #00B6B1;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 7px;
}

.foursquare .address {
  text-align: center;
  padding: 7px 0 0 0;
}

.foursquare .tips {
  font-style: italic;
  color: #9A9797;
  padding: 0 10px;
}

.foursquare .rating {
  border: 2px solid #00B6B1;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0 auto;
  margin-top: 10px;
}

.foursquare .ratingnumber {
  padding: 9px;
  color: #fff;
}

/* Slider
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#slides {
  position: relative;
}

a.slidesjs-previous .slidesjs-navigation {
  position: absolute;
}
a.slidesjs-next .slidesjs-navigation {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 999999;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

button a, button a:visited {
  color: #fff;
}



/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (max-width: 600px) {
  .map {
    display: none;
  }
}

@media (max-width: 993px){
  #search {

  }

  #search-field {
    max-width: 100px;
  }

  #search-button {
    display: none;
  }
}

@media (min-width: 994px){
  .container {
    max-width: 1200px;
  }

  #search {

  }

  #search-field {

  }

  #search-button {
    display: inline;
  }
}
