/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Table of contents
 ––––––––––––––––––––––––––––––––––––––––––––––––––
 - Grid
 - Base Styles
 - Typography
 - Links
 - Buttons
 - Forms
 - Lists
 - Content
 - Tables
 - Spacing
 - Media Queries
 */


 /* Base Styles
 –––––––––––––––––––––––––––––––––––––––––––––––––– */

html, body {
  height:100%;
}

.container {
  height: 88%;
}

a {
  color: #77BED2;
}

a:visited {
  color: #747d7d;
}

.required {
    color: grey;
    padding-left: 2px;
    font-size: small;
    font-style: italic;
}

#search input[type="text"] {
  color: #3C3C3C;

  background-color: #01CEC8;
  border: none;
  height: 30px;
  width: 300px;
  margin: 7px 0 0 0;*/
  height: 38px;
  width: 300px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

/*.field input[type="text"] {
  height: 28px;
  width: 220px;
}

.field input[type="number"] {
  height: 28px;
  width: 220px;
}
*/

.field input[type] {
  width: 100%;
}

input[type="submit"] {
  height: 30px;
  line-height: normal;
}

.field select {
 /* height: 30px;*/
 width: 100%;
}

input[type='checkbox'] {
  margin-top: 10px;
}

li {
  list-style-type: none;
}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}

:-ms-input-placeholder {
   color: #fff;
}

.center {
  text-align: center;
  margin-top: 10px;
}

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
  margin: 0 0 10px 0;
  height: 45px;
  background-color: #00B6B1;
}


nav a, nav a:hover, nav a:visited {
  color: #ffffff;
  text-decoration: none;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline;
  float: left;
  margin: 14px 25px 0 0;
  color: #FCFDEF;
}

nav ul li:last-child {
  margin: 14px 0 0 0;
}

nav ul li#search {
  margin: 6px 30px 0 0;
  max-width: 450px;
  margin: auto 0;
  margin-right: 10px;
}

#home-nav {
  margin: 0 0 0 0;
}

.navbar-collapse {
  display: none;
}

.mobile-nav {
  display: none;
}

.mobile-nav-button {
  display: none;
}

@media (max-width: 600px) {
  nav {
    margin: 0 0 0 0;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav.show {
    display: block;
    margin: 0 0 20px 0;
  }

  .mobile-nav ul {
    height: 100%;
  }

  .mobile-nav ul li {
    display: block;
    float: left;
    text-align: center;
    background-color: #00B6B1;
    color: #fff;
    width: 100%;
    height: 45px;
    margin: 0 0 0 0;
  }

  .mobile-nav ul li:last-child {
    margin: 0 0 20px 0;
  }

  .mobile-nav ul li a, .mobile-nav ul li a:hover, .mobile-nav ul li a:visited {
    color: #fff;
  }

  .mobile-nav-button {
    display: block;
  }

  .navbar-nav {
    margin: 0;
  }

  .navbar-collapse {
      max-height: 0;
   }

  .nav-open {
    background: rgba(17, 10, 10, 0.8) none repeat scroll 0 0;
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    width: 100%;
    z-index: 50;
  }

  .navbar-toggle {
      border: none;
      background: transparent !important;
      z-index: 500;
      position: relative;
      color: #fff;
      margin: 5px -25px 0 0;
      float: right;
  }

  .atitel-menu-links a {
       color: #000 !important;
   }
   .atitel-menu-links a:hover {
       color: #fff !important;
   }
   .navbar-toggle .icon-bar{
       background: #000;
   }

   .navbar-toggle.collapsed .icon-bar{
       background: #000;
   }
   .collapse.in{
       display: block;
       transition: all 0.5s ease 0s;
       -webkit-transition: all 0.5s ease 0s;
       -moz-transition: all 0.5s ease 0s;
       -o-transition: all 0.5s ease 0s;
       transition: all 0.5s ease 0s;
   }

  .in .atitel-menu-links{
       opacity: 1;
   }
   .atitel-menu-links{
       background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
       border: medium none;
       box-shadow: 0 0 0;
       display: block;
       float: none;
       opacity: 0;
       padding-right: 7px;
       position: absolute;
       text-align: center;
       transition: all 300ms ease-out 0s;
       -webkit-transition: all 300ms ease-out 0s;
       -moz-transition: all 300ms ease-out 0s;
       -o-transition: all 300ms ease-out 0s;
       width: 100%;
       z-index: 800;
       right: 0;
       left: 0;
   }
   .collapsing {
       -webkit-transition: none;
       transition: none;
   }
   .atitel-menu-links li{
       float: none;
   }

   .navbar-links{
       height: 0 !important;
   }
   .collapse.in .atitel-menu-links li a{
       font-size: 20px;
       color: #fff;
   }

   .atitel-menu-links li {
       opacity: 0;
       transform: translateY(-10px) scale(1.7);
       transition: transform 0ms cubic-bezier(0.19, 1, 0.22, 1) 800ms, opacity 800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
       -webkit-transition: transform 0ms cubic-bezier(0.19, 1, 0.22, 1) 800ms, opacity 800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
       -moz-transition: transform 0ms cubic-bezier(0.19, 1, 0.22, 1) 800ms, opacity 800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
       -o-transition: transform 0ms cubic-bezier(0.19, 1, 0.22, 1) 800ms, opacity 800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
   }

   .in .atitel-menu-links li {
       opacity: 1;
       transform: translateY(0px) scale(1);
       transition: transform 800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms, opacity 800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
       -moz-transition: transform 800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms, opacity 800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
       -o-transition: transform 800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms, opacity 800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
       -webkit-transition: transform 800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms, opacity 800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
   }

   .in .atitel-menu-links li:nth-child(1){
       transition-delay: 70ms;

   }
   .in .atitel-menu-links li:nth-child(2) {
       transition-delay: 140ms;
   }
  .in .atitel-menu-links li:nth-child(3) {
       transition-delay: 210ms;
   }

   .in .atitel-menu-links li:nth-child(4){
       transition-delay: 280ms;
   }
   .in .atitel-menu-links li:nth-child(5){
       transition-delay: 350ms;
   }
}

body.nav-open .navbar-collapse {
  display: block;
}

#navbar a {
  color: black;
}


/* Navigation - Search Filter Styling
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.sub-nav {
  background-color: #9FE0DB;
  margin: 0 10px 0 0 ;
  padding: 10px 5px;
  z-index: 9999;
  height: 29%;
}

.sub-nav col {
  margin-right: 10px;
}

.sub-nav input[type="text"] {
  width: 70px;
}

.sub-nav label {
  padding: 11px 0 0 6px;
  text-transform: uppercase;
}


.sub-nav ::-webkit-input-placeholder {
   color: #FFF;
}


.filters-section {
  /*margin-bottom: 5px;*/
  height: 40px;
  clear: right;
}

.filters-section ul {
  padding: 10px 10px 10px 30px;
}

.filters-section ul li {
  color: #3C3C3C;
  display: inline;
  float: left;
  padding-right: 10px;
}

.filters-section input[type="text"] {
  border-radius: 0px;
  text-align: center;
  background-color: #9FE0DB;
  border: 1px solid white;

}

.component {
  border: 1px solid white;
  width: 80%;
  height: 150%;
  margin-bottom: 20px;
}

.component-wrapper {
  width: 90%;
}

.filters-section#submit-btn {
  text-align: center;
}

.filters-section input[type="submit"] {
  height: 40px;
  width: 200px;
}

/* Dropdown styling */

.wrapper-dropdown {
  /* Size and position */
  position: relative;
  margin: 0 auto;
  padding: 10px 10px 10px 30px;
  margin-bottom: 20px;

  /* Styles */
  background: #fff;
  border: 1px solid silver;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  color: #46565D;
}

.wrapper-dropdown:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #3C3C3C transparent;
}

.wrapper-dropdown .dropdown {
  /* Size & position */
  position: absolute;
  top: 100%;
  margin-top: 1px; /* border of wrapper */
  left: -1px;
  right: -1px;
  z-index: 99999;

  /* Styles */
  background: white;
  border: 1px solid silver;
  border-top: none;
  list-style: none;
  transition: all 0.3s ease-out;

  /* Hiding */
  opacity: 0;
  pointer-events: none;
}

.wrapper-dropdown .dropdown li {
  position: relative; /* Enable absolute positioning for checkboxes */
  display: block;
  float: none;

}

.wrapper-dropdown .dropdown li label {
    display: block;
    padding: 10px 10px 10px 0px; /* Same padding as the button */
    border-bottom: 1px solid silver;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown .dropdown li label:hover {
  color: #00B6B1;
}

.wrapper-dropdown .dropdown li:last-of-type label {
  border: none;
}

.wrapper-dropdown .dropdown li input /* Checkboxes */ {
  position: absolute;
  display: block;
  right: 10px;
  top: 50%;
  margin-top: -8px;
}

/* Checked state */

.wrapper-dropdown .dropdown li input:checked ~ label {
  color: #00B6B1;
}

/* Selected state*/

.wrapper-dropdown .dropdown li input:focus {
  color: #00B6B1;
}

/* Active state */

.wrapper-dropdown.active:after {
  border-width: 0 6px 6px 6px;
}


.wrapper-dropdown.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* Modified Fancy Select */

div.fancy-select {
  margin-bottom: 20px;
}
div.fancy-select div.trigger {
  border-radius: 0px;
  background: #FFF;
  border: 1px solid silver;
  border-top-color: none;
  box-shadow: none;
  height: 20px;
  padding: 10px 10px 10px 30px;
}

div.fancy-select select:focus + div.trigger {
  box-shadow: none;
}

div.fancy-select select:focus + div.trigger.open {
  box-shadow: none;
}

div.fancy-select div.trigger.open {
  background: #FFF;
  border: 1px solid silver;
  color: #7A8498;
  box-shadow: none;
}

div.fancy-select div.trigger.open:after {
  border-top-color: #7A8498;
}

div.fancy-select ul.options {
  background: #FFF;
  border-top: none;
  border-radius: 0px;
  width: 88.5%;
}

div.fancy-select ul.options.open {
  top: 42px;
  opacity: 1;
}

div.fancy-select ul.options li {
  position: relative;
  color: #3C3C3C;
  display: block;
  float: none;
  border-bottom: 1px solid silver;
  padding: 10px 10px 10px 0px;
}

div.fancy-select ul.options li:last-of-type {
  border: none;
}

div.fancy-select ul.options li.selected {
  background: #FFF;
  color: #00B6B1;
}

div.fancy-select ul.options li.hover {
  color: #00B6B1;
}

/* end of dropdown styling */


li {
  list-style-type: none;
}

#new-listing {
  float:left;
}

.collapsing {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.navbar-toggle:hover {
    background: transparent !important;
}
.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
}
.navbar-toggle .top-bar {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
    opacity: 0;
}
.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);

    -ms-transform-origin: 10% 90%;
    -webkit-transform-origin: 10% 90%;
    -moz-transform-origin: 10% 90%;
    transform-origin: 10% 90%;

}
.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
}

/* Content
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background-image: url('background.jpg');
  background-size: cover;
  min-height: 700px;
  position: relative;
}

.hero h1 {
  color: #fff;
  text-align: center;
  position: absolute;
  argin: 0 auto;
  top: 32%;
  width: 100%;
}

.hero-search {
  position: absolute;
  top: 50%;
  /* width: 340px; */
  margin: 0 auto;
}

.hero-search input[type="text"] {
  width: 300px;
}

.logo {
  float: left;
  padding: 8px 0 0 0;
}

#missing-image {
  opacity: 0.2;
}

.listing {
  height: 395px;
  position: relative;
  background-color: #FCFDEF;
  border: 2px solid #9FE0DB;
  overflow: hidden;
  width: 98.5%;
  margin-bottom: 20px;
}

.listing:first-child {
  margin-top: 10px;
}

.listing:last-child {
  margin-bottom: 0;
}

.listing img {
  z-index: 1;
  width: 100%;
}

.listing .information {
  background-color: #FCFDEF;
  opacity: 0.9;
  position: absolute;
  z-index: 9999;
  bottom: 0;
  padding: 10px;
}

.listing h3.title {
  /*font-size: 1.9em;*/
  color: #00B6B1;
  margin: 0 0 0 0;
}

.listing h5.address {
  font-size: 1.2em;
  margin: 0 0 0 0;
}

.listing h3.price {
  float: right;
}

.listing h5.user, .listing h2.price {
  font-size: 1em;
  font-style: italic;
  color: #9A9797;
  margin: 0 0 0 0;
}

.listing h3 a {
  color: #00B6B1;
}

.listing h3 a:link {
  text-decoration: none;
}

.bookings_form {
  float:left;
}

#profile #profile_pic img{
  border-radius: 0%;
  margin-bottom: 30px;
}

#profile {
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;
  text-align: center;
}

#profile-basic {
  float:left;
  margin-right: 20px;
}

#rental-properties {
  margin-top: 30px;
}

#blurb {
}

#fave {

}

.calendar {
  background-color: #FFE77E;
  height: 447px;
  width: 100%;
}

.information {

}

.information strong {
  color: #00B6B1;
}

.location {

}

.row.listings-index {
  margin: 0px;
  height: 100%;
  position: relative;
}

#listing_results .listing {
  height: 100%;
  width: 98.5%;
}

.col.map {
  height: 100%;
  position: relative;
  float: right;
  overflow: hidden;
}


#map {
  height: 500px;
}


#map.fixed {
  width: 100%;
  height: 100%;
}

.col.listings {
  overflow: scroll;
  height: 100%;
}


.neighbourhood {
  margin: 20px 0 0 0;
  background-color: #00B6B1;
}

button.back {
  width: 100%;
  font-weight: 500;
  font-size: 1em;
  text-transform: none;
  border: none;
}

button a {
  text-decoration: none;
}

.row.listings-index {
  padding: 0;
  position: relative;
  height: 100%;
  margin-bottom: 0px;
}

.feature {
  text-align: center;
  margin: 20px 0 0 0;
}

.feature .description-text {
  text-align: justify;
  margin: 10px 40px;
}

.feature .desc {
  width: 90%;
}

.feature .name {
  width: 71%;
}

.feature .name p {
  margin: 10px 0 0 0;
}

.feature .desc, .feature .name {
  padding: 3px 0px;
  margin: 0 auto 13px auto;
  background-color: #00B6B1;
  color: #fff;
  border-radius: 3px;
}

.foursquare {
  min-height: 300px;
  padding: 15px;
}

.foursquare .name  {
  background-color: #00B6B1;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 7px;
}

.foursquare .address {
  text-align: center;
  padding: 7px 0 0 0;
}

.foursquare .tips {
  font-style: italic;
  color: #9A9797;
  padding: 0 10px;
}

.foursquare .rating {
  border: 2px solid #00B6B1;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0 auto;
  margin-top: 10px;
}

.foursquare .ratingnumber {
  padding: 9px;
  color: #fff;
}

.listingDiv {
  height: 200px;
  width: 100%;

}

.listingDiv .information {
  transition: 300ms;
}

.listingDiv.hovered {
  border: 2px solid #FFE77E;

}


.optionalinfo {
  display:inline;
}

label.optionalinfo {
  margin-left: 10px;
}

.margin-top {
  margin-top: 20px;
}

.required {
    color: grey;
    padding-left: 2px;
    font-size: small;
    font-style: italic;
}

.text_area {
  width: 300px;
  height: 150px;
}

#listing_description {
  width: 100%;
  height: 200px;
}

.field_listing input[type='text'] {
  width: 100%;
}

.field_listing input[type="number"] {
  width: 100%;
}

#listing_furnished {
  margin-top: 33px;
}

#rental-properties h2 {
  margin-bottom: 0;
}
#rental-properties p {
  margin-top: -2.5%;

}

#rental-properties a, #rental-properties a:visited {
  color: #77BED2;
}

#favourites h2 {
  margin-bottom: 0;
  padding-top: 20px;
}

#favourites p {
  margin-top: -2.5%;

}

#favourites a, #favourites a:visited {
  color: #77BED2;
}

#profile-info {
  font-size: medium;
}


/* Slider
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#slides {
  position: relative;
}

a.slidesjs-previous .slidesjs-navigation {
  position: absolute;
}
a.slidesjs-next .slidesjs-navigation {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 999999;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

button a, button a:visited {
  color: #fff;
}


.heart-shape{
    position: relative;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: rgba(0, 182, 177, 1);
}
.heart-shape:before,
.heart-shape:after{
    position: absolute;
    width: 20px;
    height: 20px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(0, 182, 177, 1);
}
.heart-shape:before{
    bottom: 0px;
    left: -10px;
}
.heart-shape:after{
    top: -10px;
    right: 0px;
}

.favourited,
.favourited:before,
.favourited:after {
  background-color: #EF5350;
}

.favourite_btn {
  position: absolute;
  top: 7%;
  right: 3%;

}




/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Mobile */
@media (max-width: 600px) {
  .map {
    display: none;
  }

  .sub-nav {
    height: 50%;
  }

  div.fancy-select ul.options {
    width: 88.5%;
  }

  .listing:last-child {
    margin-bottom: 20px;
  }

  .listing {
    width: 97.5%;
  }

  .hero h1 {
    top: 24%;
    font-size: 2.1em;
  }
  .hero-search {
    left: 22%;
  }

  #listing_results .listing {
    width: 97.5%;
  }

  #listing_furnished {
    margin-top: 0px;
  }

  .profile-section {
    text-align: center;
  }

}

@media (min-width: 601px) and (max-width: 993px) {
  .hero h1 {
    top: 30%;
    font-size: 3em;
  }
}

@media (max-width: 993px){

  /*#search-field {
    max-width: 100px;
    float: left;
  }

  #search-button {
    display: none;
  }*/

  div.fancy-select ul.options {
    width: 87.5%;
  }
}


@media (min-width: 994px){
  .container {
    max-width: 1200px;
  }

  .hero-search {
    top: 55%;
    left: 37%;
  }

  ::-webkit-input-placeholder {
   color: #D1D1D1;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: #D1D1D1;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: #D1D1D1;
  }

  :-ms-input-placeholder {
     color: #D1D1D1;
  }
}
