.listingDiv {
  height: 200px;
  width: 100%;
  
}

.listingDiv .information {
  transition: 300ms;
}

.listingDiv.hovered {
  border: 2px solid #FFE77E; 
}


.optionalinfo {
  display:inline;
}

label.optionalinfo {
  margin-left: 10px;
}

.margin-top {
  margin-top: 20px;
}

.required {
    color: grey;
    padding-left: 2px;
    font-size: small;
    font-style: italic;
}

.text_area {
  width: 300px;
  height: 150px;
}

.field_listing input[type='text'] {
  width: 300px;
}